.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width:600px;
    background: white;
    padding: bottom 30px; 
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: rgb(30, 2, 46);
    font-size:48px;
    font-weight: 700;
}

.Underline{
    width: 61px;
    height: 6px;
    background:  rgb(30, 2, 46);
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: rgb(237, 235, 235);
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(138, 137, 137);
    font-size:19px;
}

.forgot-password{
    display: flex;
    justify-content: center;
    margin-top: 27px;
    color: grey;
    font-size: 18px;
}

.forgot-password span{
    color: blue;
    cursor: pointer;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
     margin: 60px auto;
    width: 480px;
    height: 80px;
    color: white;
    background: #5b04b1;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.submit:hover {
  background: #470389;
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
}

.switch{
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 18px;
    margin-bottom: 20px;
}






