.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.minisection-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.video-container {
  width: 640px;
  max-width: 95%;
  margin-bottom: 2rem;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.sign-card {
  background: rgba(10, 1, 19, 0.377);
  border-radius: 16px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  transition: transform 0.2s ease;
}

.sign-card:hover {
  transform: scale(1.02);
}

.sign-image {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.sign-letter {
  font-size: 2rem;
  color: #fff3f3;
  margin-bottom: 0.5rem;
}

.sign-text {
  color: #000000;
  font-size: 1.1rem;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.nav-button {
  background-color: #5815b6;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.nav-button:hover:not(:disabled) {
  background-color: #310340;
}

.progress-indicator {
  margin-top: 1rem;
  color: #555;
  font-size: 1rem;
}
