
.page {
  padding: 40px;
  text-align: center;
}

/* Header */
.page h1 {
  font-size: 2.5rem;
  color: #a7a7a7;
  margin-bottom: 10px;
  font-weight: 700;
}

.page p {
  font-size: 1.1rem;
  color: #ffffff;
  margin-bottom: 40px;
}